:root {
	--darkblue: #00008B;
	--lightblue: #6495ED;
	--blue: #0000FF;
	--lightorange: #F4A460;
	--black: #000000;
	--white: #FFFFFF;
	--orange: #D2691E;
	--darkgray: #A9A9A9;
}

header {
	border: 1rem solid var(--darkblue);
	background-color: var(--lightblue);
}

.title-game {
	padding: .6rem;
}

.nav-game {
	text-align: center;
	background: linear-gradient(var(--darkblue), var(--blue));
}

.nav-game ul {
	background: linear-gradient(var(--lightblue) 30%, var(--blue) ,var(--darkblue));
	margin-bottom: 0;
}
.nav-game li {
	display: inline-block;
	padding: .5rem;
	margin-bottom: .5rem;
	border: 4px solid var(--black);
	border-radius: 10px;
	box-shadow: 5px 5px var(--orange);
	background-color: var(--lightorange);
	transition: 1s all;
}

.nav-game li:hover {
	transform: scale(1.3);
	background-color: var(--orange);
}

.nav-game a {
	color: var(--black);
	text-decoration: none;
}

main {
	background-color: var(--darkgray);
}

.table-lobby {
	margin: 0 auto;
	width: 50%;
}

.table-lobby thead {
	background-color: var(--black);
	color: var(--white);
	padding: 1rem;
}